html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.nowPlayingContainer {
    width: 100%;
    background-color: #282828;
    bottom: 0;
    position: fixed;
    min-width: 600px;
}

.nowPlayingBar {
    display: flex;
    height: 120px;
    padding: 20px;
    box-sizing: border-box;
}

.nowPlayingLeft, .nowPlayingRight {
    width: 30%;
    min-width: 100px;
}

.nowPlayingCenter {
    width: 40%;
    max-width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nowPlayingBar .content {
    width: 100%;
}

.playerControls .buttons {
    margin: 0 auto;
    display: table;
}

.controlButton {
    background-color: transparent;
    border: none;
    vertical-align: middle;
    color: #9f9f9f;
    font-size: 1.5em;
}

.controlButton:hover {
    color: #fff;
    cursor: pointer;
}

.controlButton.play, .controlButton.pause {
    font-size: 2.25em;
}

.playbackBar {
    display: flex;
    margin-top: 10px;
}

.progressTime {
    color: #9f9f9f;
    font-size: 1em;
    min-width: 40px;
    text-align: center;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.progressBar {
    width: 100%;
    height: 12px;
    display: inline-flex;
    cursor: pointer;
    margin-top: auto;
    margin-left: 10px;
    margin-right: 10px;
}

.progressBarBg {
    background-color: #666666;
    width: 100%;
    height: 4px;
    border-radius: 2px;
}

.progress {
    background-color: #a8a8a8;
    height: 4px;
    width: 0px;
    border-radius: 2px;
}

.nowPlayingLeft #albumArt {
    height: 100%;
    max-height: 73px;
    margin-right: 15px;
    float: left;
    background-size: cover;
}

.trackInfo {
    display: table;
    color: #9f9f9f;
    font-size: 0.8em;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.trackInfo> .trackName {
    font-size: 1.2em;
    color: #fff;
    display: inline-block;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 5px;
}