html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    color: #ffffff;
}

body {
    background-color: #1f1f1f;
    min-width: 720px;
    margin: 0;
    padding: 0;
}

.nowPlayingContainer {
    width: 100%;
    background-color: #282828;
    bottom: 0;
    position: fixed;
    min-width: 600px;
}

.nowPlayingBar {
    display: flex;
    height: 120px;
    padding: 20px;
    box-sizing: border-box;
}

.nowPlayingLeft, .nowPlayingRight {
    width: 30%;
    min-width: 100px;
}

.nowPlayingCenter {
    width: 40%;
    max-width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nowPlayingBar .content {
    width: 100%;
}

.playerControls .buttons {
    margin: 0 auto;
    display: table;
}

.controlButton {
    background-color: transparent;
    border: none;
    vertical-align: middle;
    color: #9f9f9f;
    font-size: 1.5em;
}

.controlButton:hover {
    color: #fff;
    cursor: pointer;
}

.controlButton.play, .controlButton.pause {
    font-size: 2.25em;
}

.playbackBar {
    display: flex;
    margin-top: 10px;
}

.progressTime {
    color: #9f9f9f;
    font-size: 1em;
    min-width: 40px;
    text-align: center;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.progressBar {
    width: 100%;
    height: 12px;
    display: inline-flex;
    cursor: pointer;
    margin-top: auto;
    margin-left: 10px;
    margin-right: 10px;
}

.progressBarBg {
    background-color: #666666;
    width: 100%;
    height: 4px;
    border-radius: 2px;
}

.progress {
    background-color: #a8a8a8;
    height: 4px;
    width: 0px;
    border-radius: 2px;
}

.nowPlayingLeft #albumArt {
    height: 100%;
    max-height: 73px;
    margin-right: 15px;
    float: left;
    background-size: cover;
}

.trackInfo {
    display: table;
    color: #9f9f9f;
    font-size: 0.8em;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.trackInfo> .trackName {
    font-size: 1.2em;
    color: #fff;
    display: inline-block;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 5px;
}

.nowPlayingRight {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.volumeBar {
    width: 180px;
    min-width: 75px;
}

.volumeBar .progressBar {
    width: 110px;
}

#topContainer {
    min-width: 100%;
    height: 100%;
}

.navBarContainer {
    background-color: #000000;
    width: 300px;
    height: 100vh;
    top: 0;
    left: 0;
    position: fixed;
}

.navBar {
    padding: 25px;
    display: flex;
    flex-direction: column;
    color: #ffffff;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.navBar> a {
    display: flex;
    align-items: center;
    font-size: 1.3em;
    text-decoration: none;
    color: #ffffff;
    margin-bottom: 15px;
    cursor: pointer;
}

.navBar> a> img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.group {
    border-top: 1px solid #a8a8a8;
    padding: 15px 0;
}

.group a {
    cursor: pointer;
}

.navItem {
    padding: 7px;
    font-size: 1.2em;
    text-decoration: none;
    display: block;
    font-weight: 600;
    letter-spacing: 1px;
}

.navItem> a {
    color: #a8a8a8;
    text-decoration: none;
}

.navItem> a:hover {
    color: #ffffff;
}

.navItem .active {
    color: #ffffff;
}

.navItem> a> i {
    margin-right: 10px;
}

.mainViewContainer {
    margin-left: 300px;
    padding-bottom: 120px;
    width: calc(100% - 300px);
}

.mainContent {
    padding: 0 20px;
}

.pageHeader {
    padding: 20px 20px;
    text-align: center;
    margin: 0;
    font-size: 2em;
    font-weight: 600;
}

.gridViewItem {
    display: inline-block;
    margin-right: 20px;
    width: 29%;
    max-width: 200px;
    min-width: 150px;
}

.gridViewItem img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.gridViewInfo {
    text-align: center;
    padding: 10px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.gridViewItem> span[role="link"]:hover {
    cursor: pointer;
    text-decoration: underline;
}

.gridViewItem> span[role="link"]:hover> img {
    opacity: 0.75;
    transition: 0.3s;
}

.entitiyInfo {
    padding: 40px 0 10px 0;
    display: inline-block;
    width: 100%;
}

.entitiyInfo .leftSection {
    width: 30%;
    float: left;
    max-width: 250px;
}

.entitiyInfo .leftSection img {
    width: 100%;
}

.playAlbum {
    position: relative;
    display: block;
}

.playAlbumOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5em;
    opacity: 0;
    transition: 0.3s;
}

.playAlbumOverlay:hover {
    cursor: pointer;
    opacity: 1;
}

.entitiyInfo .rightSection {
    width: 70%;
    float: left;
    padding: 5px 10px 5px 40px;
    box-sizing: border-box;
}

.rightSection> p> span {
    cursor: pointer;
}

.rightSection> p> span:hover {
    color: #ffffff;
    text-decoration: underline;
}

.entitiyInfo h2 {
    margin: 0;
    font-size: 1.75em;
}

.entitiyInfo p {
    color: #9f9f9f;
    font-weight: 300;
}

.trackList {
    padding: 0;
}

.trackListRow {
    height: 40px;
    padding: 15px 10px;
    list-style: none;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #a8a8a8;
    flex-direction: row;
}

.trackListRow .trackCount {
    width: 50px;
    text-align: center;
    font-size: 1em;
    color: #9f9f9f;
}

.trackListRow .trackInfo {
    width: calc(100% - 70px);
    padding-left: 10px;
    font-size: 1em;
    color: #9f9f9f;
    cursor: pointer;
}

.trackListRow .trackCount span[role="link"] {
    visibility: hidden;
    position: absolute;
    cursor: pointer;
}

.trackListRow .trackCount span[role="link"]:hover {
    color: #ffffff;
}

.trackListRow:hover {
    background-color: #282828;
}

.trackListRow:hover .trackCount span[role="link"] {
    visibility: visible;
}

.trackListRow .trackCount .trackNumber {
    visibility: visible;
}

.trackListRow:hover .trackCount .trackNumber {
    visibility: hidden;
}

.trackListRow .trackOptions {
    width: 20px;
    text-align: center;
    font-size: 1em;
    color: #9f9f9f;
}

.trackListRow .trackOptions span[role="link"] {
    visibility: hidden;
    cursor: pointer;
}

.trackListRow:hover .trackOptions span[role="link"] {
    visibility: visible;
}

.trackListRow .trackOptions span[role="link"]:hover {
    color: #ffffff;
}

.media-playback-active {
    color: #1DB954;;
}

.artistInfo {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 500px;
    position: relative;
}

.artistInfo h1 {
    font-size: 3em;
    font-weight: 600;
    margin: 0;
}

.artistInfo p {
    color: #ffffff;
}

.artistInfo .overlay {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button {
    color: #ffffff;
    cursor: pointer;
    margin-bottom: 10px;
    background-color: transparent;
    font-weight: 500;
    letter-spacing: 2px;
    border: 2px solid #ffffff;
    border-radius: 500px;
    padding: 15px;
    min-width: 130px;
}

.button.green {
    background-color: #1DB954;
    border-color: #1DB954;
}

.button.green:hover {
    background-color: #ffffff;
    border-color: #ffffff;
    color: #1f1f1f;
}

.gridViewContainer h2,
.trackListContainer h2,
.artistContainer h2 {
    font-size: 1.75em;
    font-weight: 600;
    text-align: center;
}

.albumLink img,
.artistName span,
.trackName span,
.searchArtistName span {
    cursor: pointer;
}

.searchContainer {
    padding: 20px 20px;
    background-color: #282828;
}

.searchContainer h4 {
    font-size: 1.5em;
    font-weight: 400;
    margin: 0 0 10px 0;
}

.searchContainer .searchInput {
    width: 100%;
    background-color: transparent;
    border: none;
    color: #ffffff;
    font-weight: 700;
    font-size: 3em; 
    letter-spacing: 3px;   
    border-bottom: 2px solid #9f9f9f;
}   

.searchResultRow {
    padding: 15px 10px;
    border-bottom: 1px solid #a8a8a8;
}

.searchResultRow span {
    width: 100%;
    display: inline-block;
}

.searchResultRow:hover {
    background-color: #282828;
}